tspan {
  color: var(--dashboard-greyscale-grey-1, #b1b1b1);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.recharts-legend-wrapper {
  top: -50px;
  left: unset !important;
  height: unset !important;
  width: unset !important;
  bottom: unset !important;
  right: 15%;
}
